*, 
*::after, 
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* primary colors */
    --dark-cyan: hsl(150,36%,37%);
    --cream: hsl(30,38%,92%);

    /* Neutral colors */
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-graying-blue: hsl(228, 12%,48%);
    --white: hsl(0, 0%, 100%);

}